.greeting {
  color: white;
  margin-top: 1rem;
  text-shadow: 1px 1px 1px grey;
}

@media (max-width: 500px) {
  .greeting {
    font-size: 36px;
  }
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin-bottom: 1rem;
  padding: 1rem;
}

.greetingContainer {
  text-align: center;
  padding-top: 3rem;
}

.typedText {
  color: white;
  margin: 1rem;
  text-shadow: 1px 1px 1px grey;
}

.icon {
  color: white;
  margin: 1rem;
}

@keyframes bounce {
  30% {
    transform: translate(0, 0);
  }

  35% {
    transform: translate(0, 15px);
  }

  40% {
    transform: translate(0, 10px);
  }

  45% {
    transform: translate(0, 15px);
  }

  55% {
    transform: translate(0, 0);
  }
}
/* Prefix Support */

.bouncingText {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
}
