.greeting {
  color: white;
  margin-top: 1rem;
  text-shadow: 1px 1px 1px grey;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-bottom: 1rem;
  padding: 1rem;
}

.greetingContainer {
  text-align: center;
  padding-top: 3rem;
}

.typedText {
  color: white;
  margin: 1rem;
  text-shadow: 1px 1px 1px grey;
}

.icon {
  color: white;
  margin: 1rem;
}

.bounce {
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
@keyframes bounce-7 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
