.greeting {
  color: white;
  text-shadow: 1px 1px 1px grey;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  margin-bottom: 1rem;
  padding: 1rem;
}

.greetingContainer {
  text-align: center;
  padding-top: 3rem;
}

.typedText {
  color: white;
  margin: 1rem;
  text-shadow: 1px 1px 1px grey;
}

.picture {
  border-radius: 50%;
}

.icon {
  color: white;
  margin: 1rem;
}
